parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        # Allow magic static methods in HTML/SVG/XML classes
        - '#Call to an undefined static method Pure\\Core\\(HTML|SVG|XML)::[a-zA-Z0-9_]+\(\)#'
        # Allow dynamic calls in Tag/HTML/SVG/XML classes for attributes
        - '#Call to an undefined method Pure\\Core\\(Tag|HTML|SVG|XML)::[a-zA-Z0-9_]+\(\)#'
        # Allow mixed to string casting in template engine
        - '#Cannot cast mixed to string#'
