*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  font-family: inherit;
}

html,
body {
  height: 100vh;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

span {
  font-size: 3rem;
  background-color: #00bb00;
  padding: 2px 12px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 4px;
  color: #fff;
}

button {
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  width: 3rem;
}
